@font-face {
	font-family: 'HK Grotesk';
	src: url('/fonts/hk_grotesk_pro_regular.woff2') format('woff2'),
		url('/fonts/hk_grotesk_pro_regular.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Paradroid-Mono';
	src: url('/fonts/ParadroidMonoLight.woff2') format('woff2'),
		url('/fonts/ParadroidMonoLight.woff') format('woff');
	font-weight: thin;
}
@font-face {
	font-family: 'Runalto';
	src: url('/fonts/Runalto.otf') format('opentype');
	font-weight: normal;
}

@keyframes jumpyness {
	0% {
		d: path('M0 87 L0 87 L2000 87 L2000 87 Z');
	}
	33% {
		d: path('M0 87 L0 48 L2000 48 L2000 87 Z');
	}
	66% {
		d: path('M0 87 L0 64 L2000 64 L2000 87 Z');
	}
	100% {
		d: path('M0 87 L0 58 L2000 58 L2000 87 Z');
	}
}

@keyframes bump {
	0% {
		background-size: 10px;
	}
	25% {
		background-size: 12px;
	}
	50% {
		background-size: 10px;
	}
	75% {
		background-size: 11px;
	}
	100% {
		background-size: 10px;
	}
}

@keyframes main-links {
	0% {
		opacity: 0;
		padding-top: 100px;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
		padding-top: 30px;
	}
}

@keyframes title {
	from {
		width: 0px;
	}
	to {
		width: 400px;
	}
}

@keyframes about_bg {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

:root {
	--coffee: #3f3334;
	--coral: #ec847d;
	--mint: rgb(175, 239, 201);
	--blue: #255c99;
	--yellow: #fbd87f;
}

body {
	font-size: 1.2rem;
	// box-shadow: 0 0 24px 1px rgba(175, 239, 201, 0.55);
	color: var(--coffee);
	background-color: white;
	position: relative;
	font-family: 'HK Grotesk', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;

	&::after {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url('/images/previews/raindrops.webm') url('/images/previews/de_video.webm')
			url('/images/previews/snowy.webm') url('/images/previews/busy_start.webm')
			url('/images/previews/busy_end.webm') url('/images/previews/burnout.webm')
			url('/images/design_files/full/adlogos.png') url('/images/design_files/full/alexandria.png')
			url('/images/design_files/full/artuploader.png')
			url('/images/design_files/full/astronaut.png') url('/images/design_files/full/ccologos.png')
			url('/images/design_files/full/conley.png') url('/images/design_files/full/frose.png')
			url('/images/design_files/full/inkademy.png') url('/images/design_files/full/july4.png')
			url('/images/design_files/full/mission.png') url('/images/design_files/full/mission_th.png')
			url('/images/design_files/full/neptuneice.png')
			url('/images/design_files/full/neptuneice_th.png')
			url('/images/design_files/full/playingcards.png') url('/images/design_files/full/quack.png')
			url('/images/design_files/full/renderthebacon.png')
			url('/images/design_files/full/renderthesandman.png')
			url('/images/design_files/full/strathmeade.png');
	}
}

h1 {
	font-family: 'Runalto', 'HK Grotesk', Helvetica, sans-serif;
	font-size: 27px;
	line-height: 2.5rem;
	margin: 30px 0 20px 0;
}

h2 {
	font-family: 'Paradroid-Mono', 'Courier New', Courier, monospace;
	font-size: 1.3rem;
	color: var(--coffee);
	-webkit-text-stroke: 0.5pt var(--coffee);
	// margin: 20px 0 5px 5px;
	margin: 0;
	background-color: var(--mint);
}

h3 {
	font-family: 'HK Grotesk', Helvetica, Arial;
	font-size: 1.2rem;
	color: var(--coffee);
	margin: 0 0 0 15px;
	line-height: 1.6rem;
	font-weight: normal;
}
// header
header {
	align-items: center;
	justify-content: space-between;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: white;
	overflow-x: hidden;
	box-shadow: 0 0 24px 1px rgba(175, 239, 201, 0.55);
	position: sticky;
	padding: 15px;

	.header a #logo {
		width: 100px;
	}

	.logo {
		display: block;
		width: 130px;

		img {
			width: 100%;
		}
	}

	.dl_link {
		font-weight: bold;
		color: var(--blue);
	}

	.svg-corners {
		position: fixed;
		width: 400px;
		top: 0;
		right: 0;
		pointer-events: none;
		z-index: -1;
	}

	#coral_svg,
	#mint_svg {
		position: absolute;
		top: 0;
		right: 0;
	}

	#mint {
		fill: var(--mint);
		d: path('M45 0 L100 0 L100 15 Z');
		transition: 1s cubic-bezier(0.14, 0.05, 0.36, 0.98) 0.07s;
	}

	.nav {
		animation: main-links 1s cubic-bezier(0.02, 0.7, 0.64, 0.99) forwards;
		z-index: 25;
	}

	.nav a {
		font-family: 'Paradroid-Mono', 'Courier New', Courier, monospace;
		text-decoration: none;
		font-size: 18px;
		color: var(--black);
		padding: 0 15px;
		position: relative;
	}

	.nav a:hover {
		color: var(--coffee);
	}

	.nav:hover #mint {
		d: path('M0 0 L100 0 L100 12 Z');
		transition: 0.5s cubic-bezier(0.14, 0.05, 0.36, 0.98) 0.05s;
	}

	#coral {
		fill: var(--coral);
		d: path('M60 0 L100 0 L100 16 Z');
		transition: 1s cubic-bezier(0.14, 0.05, 0.36, 0.98) 0.03s;
	}

	.nav:hover #coral {
		d: path('M30 0 L100 0 L100 14 Z');
		transition: 0.7s cubic-bezier(0.14, 0.05, 0.36, 0.98) 0.04s;
	}

	#current_page {
		background-size: 10px;
		background-repeat: repeat-x;
		background-position: bottom;
	}

	#current_page a {
		pointer-events: none;
	}

	#current_page:hover {
		color: var(--coffee);
		animation: bump 0.4s ease-in-out;
		cursor: default;
	}

	.jumpy {
		position: fixed;
	}

	.jumpy_bg {
		fill: var(--mint);
	}

	.jumpy > svg {
		z-index: -1;
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 38px;
	}

	[href='#works'] svg {
		left: -20px;
	}

	[href='#about-me'] svg {
		left: -5px;
	}

	[href='#resume'] svg {
		left: 0px;
	}

	.jumpy:hover svg .jumpy_bg {
		animation: jumpyness 0.3s ease-in forwards;
	}
}

//main
main {
	box-shadow: 0 0 24px 1px rgba(175, 239, 201, 0.55);
	display: flex;
	flex-direction: column;

	.main_body_container {
		display: flex;
		justify-content: center;
	}

	.section_container {
		min-height: 100px;
		margin-right: auto;
		padding-bottom: 10px;
		margin-left: auto;
		display: flex;
		align-items: start;
		text-align: left;
		justify-content: center;
	}

	.section_body_text {
		font-size: 1.2rem;
		color: var(--coffee);
		position: relative;
		font-family: 'HK Grotesk', Helvetica, Arial, sans-serif;
		padding-left: 20px;
	}

	.section_title {
		font-family: 'Paradroid-Mono', 'Courier New', Courier, monospace;
		font-size: 1.8rem;
		color: var(--coffee);
		padding: 10px 20px;
		overflow: hidden;
		z-index: 15;
		background-image: linear-gradient(var(--mint), var(--mint));
		background-position-y: -10px;
		background-size: auto;
		background-origin: padding-box;
		display: block;
		pointer-events: none;
		top: 133px;
		position: sticky;
		display: flex;
		align-items: center;
		justify-content: left;
	}

	.fade-box {
		background: linear-gradient(to bottom, var(--mint) 0%, white 100%);
		height: 135px;
		width: 100%;
	}

	.coral_bg {
		width: 100%;
	}

	.white_bg {
		width: 100%;
		padding: 30px 0 50px 0;
	}

	// tv
	#tv-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: auto 15px;
		padding: 30px 0;

		#tv-screen,
		#tv-credits {
			max-width: 1100px;
			width: 100%;

			video {
				border: solid 10px var(--mint);
				box-sizing: border-box;
				height: 100%;
				width: 100%;
			}
		}

		h2 {
			padding: 10px 10px 0 10px;
		}

		#tv-credits {
			box-sizing: border-box;
			font-family: 'HK Grotesk', Helvetica, sans-serif;
			font-size: 22px;
			margin-top: -7px;
			padding: 0 0 0 15px;
			text-align: left;
			width: 100%;
		}
		.works_desc {
			background-color: var(--mint);
			height: 45px;
		}
		.tv {
			width: 90%;
			height: auto;
			min-width: 600px;
			max-width: 1500px;
			position: relative;
			display: inline-table;
			margin: 30px auto 0 auto;
			text-align: left;
		}
	}

	// works
	#works {
		.works_container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			// column-gap: 20px;
			justify-content: space-between;
			margin-bottom: 20px;
			max-width: 1120px;
		}

		.workbox {
			border: 10px solid var(--mint);
			width: 500px;
			height: auto;
			margin: 30px 15px;
			display: flex;
			flex-direction: column;
			> h2 {
				padding: 0 0 5px 0;
			}
		}
		.work_video {
			width: 500px;
			height: 281x;
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
		}
		.design_img {
			width: 500px;
			height: auto;
		}
		.work_video video,
		.design_img img {
			width: 500px;
			height: 281px;
		}
		.thumbs {
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 100%;
			background-repeat: no-repeat;
		}
		.works_captions {
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			border: 10px solid var(--mint);
			color: black;
			z-index: -1;
		}
		.works_captions,
		.thumbs {
			position: absolute;
			opacity: 100%;
			transition-duration: 500ms;
		}
		.works_captions p {
			margin: 10px 15px;
			-webkit-user-select: none;
			-webkit-touch-callout: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.hover_preview {
			bottom: 10px;
			right: 20px;
		}
		.hover_preview,
		.enlarge_text {
			position: absolute;
			color: var(--coffee);
			font-family: 'HK Grotesk', Helvetica, Arial;
			font-size: 1rem;
			cursor: default;
		}
		.enlarge_text {
			bottom: 20px;
			right: 30px;
			background-color: var(--mint);
			color: black;
			mix-blend-mode: screen;
			padding: 0 5px 3px 5px;
		}
		.work_video:hover > .works_captions,
		.work_video:hover > .works_captions p,
		.work_video:hover > .thumbs {
			opacity: 0%;
			transition-duration: 500ms;
		}
		.section_container {
			justify-content: center;
			// margin-top: 136px;
			padding-bottom: 40px;
		}
		.works_desc {
			background-color: var(--mint);
			height: 25px;
		}
		.works_desc p {
			font-family: 'HK Grotesk', Helvetica, Arial;
			font-size: 22px;
			margin: auto;
			padding: 0;
		}
		.lightbox {
			position: relative;
		}
		.lightbox img {
			width: 100%;
			height: 100%;
		}
		.lightbox-target {
			position: fixed;
			width: 100%;
			background: rgba(0, 0, 0, 0.7);
			-webkit-transition: opacity 0.5s ease-in-out;
			-moz-transition: opacity 0.5s ease-in-out;
			-o-transition: opacity 0.5s ease-in-out;
			transition: opacity 0.5s ease-in-out;
			z-index: 30;
		}
		.lightbox-target-inactive {
			opacity: 0;
			top: -100%;
			overflow: hidden;
		}
		.lightbox-target-active {
			opacity: 1;
			top: 0;
			bottom: 0;
			overflow: scroll;
		}
		.lightbox-target img {
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 3px solid white;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			box-sizing: border-box;
			z-index: 30;
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
		}
		.lightbox-target-inactive img {
			max-height: 0%;
			max-width: 0%;
		}
		.lightbox-target-active img {
			max-height: 100%;
			max-width: 100%;
		}
		.lightbox-close {
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			cursor: default;
			top: 0;
			z-index: 29;
		}
		/* PNG VIDEO Thumbnails */
		#thumb-raindrops {
			background-image: url('/images/thumbs/th-raindrops.png');
		}
		#thumb-de_video {
			background-image: url('/images/thumbs/th-de_video.png');
		}
		#thumb-curious {
			background-image: url('/images/thumbs/th-curious.png');
		}
		#thumb-bank_shot {
			background-image: url('/images/thumbs/th-bank_shot.png');
		}
		#thumb-snowy {
			background-image: url('/images/thumbs/th-snowy.png');
		}
		#thumb-busy_start {
			background-image: url('/images/thumbs/th-busy_start.png');
		}
		#thumb-busy_end {
			background-image: url('/images/thumbs/th-busy_end.png');
		}
		#thumb-burnout {
			background-image: url('/images/thumbs/th-burnout.png');
		}
		#thumb-muybridge {
			background-image: url('/images/thumbs/th-muybridge.png');
		}
		#thumb-castes {
			background-image: url('/images/thumbs/th-castes.png');
		}
	}

	// about me
	#about-me {
		font-size: 20px;
		ul {
			margin: 0 0 20px 0;
		}
		li {
			font-size: 20px;
			list-style-type: none;
			max-height: 30px;

			a {
				// font-size: 25px;
				text-decoration: none;
			}

			&::before {
				content: '\2022 ';
				color: var(--mint);
				font-size: 30px;
				font-weight: bold;
				padding: 5px;
			}
		}

		#about_content {
			position: relative;
			display: flex;
			justify-content: center;
			border: 10px solid var(--mint);
			margin: 10px;
		}
		#about_table {
			// width: 90%;
			// min-width: 600px;
			// max-width: 1500px;
			position: relative;
			// display: inline-table;
			margin: auto;
			padding: 30px 15px;
			tbody {
				display: flex;
				flex-direction: column;
				max-width: 1100px;
			}
		}
		#about_table td {
			vertical-align: bottom;
			text-align: left;
		}
		#profile_pic {
			vertical-align: bottom;
		}
		#profile_pic img {
			background-color: var(--mint);
		}
		.about-me-text {
			padding: 15px;
		}
	}

	// resume
	#resume {
		#resume-wrapper {
			border: 10px solid var(--mint);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			margin: 10px;
			max-width: 1100px;
		}

		#resume-left,
		#resume-right {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			padding: 50px 10px 10px 10px;
			text-align: left;
			width: 47%;
		}

		.dl-links-container {
			// position: relative;
			width: 75vw;
			margin: auto;
			display: flex;
			justify-content: flex-end;
		}

		#resume-dl-links {
			height: 45px;
			padding: 3px 10px 5px 10px;
			// margin-top: 50px;
			position: relative;
			left: 787px;
			background-color: var(--mint);
			top: 65px;
			max-width: 320px;
		}

		#res_table {
			width: 90%;
			min-width: 600px;
			max-width: 1500px;
			position: relative;
			z-index: 10;
			display: inline-table;
			margin: auto;
			padding: 30px 0 40px 0;
		}

		.resume-wrapper {
			font-family: 'HK Grotesk', Helvetica, Arial;
			font-size: 1.2rem;
			color: var(--coffee);
			margin: 0 0 0 20px;
			line-height: 1.6rem;
		}

		.resume-wrapper ul {
			margin-top: 0;
		}

		#res_spacer {
			width: 40%;
			background-color: var(--coffee);
			height: 2px;
			margin: 50px auto 40px 0;
			position: relative;
		}

		.res_work_subtitle {
			font-family: 'HK Grotesk', Helvetica, Arial;
			margin-top: 15px;
		}

		#work_exp ul {
			margin-top: 15px;
		}

		#work_exp li {
			margin-top: 5px;
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	padding: 30px 0;

	a {
		text-decoration: none;
	}
}

// ipad and sm laptop responsive - for all screen sizes smaller than 1200
@media (max-width: 1200px) {
	main {
		h1 {
			font-size: 25px;
			margin: 10px 0 5px;
		}
		.section_body_text {
			font-size: 16px;
		}
		#works {
			.workbox,
			.work_video,
			.work_video video {
				box-sizing: border-box;
				height: auto;
				width: 100%;
			}
			.design_img,
			.design_img img {
				box-sizing: border-box;
				width: 100%;
			}
			.workbox {
				margin: 10px;
			}

			h2 {
				padding-bottom: 10px;
			}

			.works_desc {
				// font-size: 16px;
				line-height: 1.8;
				p {
					font-size: 16px;
				}
			}
		}
		#resume {
			#resume-wrapper {
				flex-direction: column;
			}
			#resume-left,
			#resume-right {
				// margin: 10px;
				padding: 10px;
				width: 100%;
			}
			#profile_pic img {
				width: 200px;
			}
			.res_body {
				font-size: 16px;
			}
			#resume-dl-links {
				font-size: 18px;
				height: 30px;
				left: 864px;
				max-width: 243px;
				top: 48px;
				a {
					text-decoration: none;
				}
			}
		}
	}
}
// mobile responsive - for all screen sizes smaller than 768
@media (max-width: 768px) {
	header {
		flex-direction: column;

		.logo {
			align-self: flex-start;
			display: flex;
			width: 65px;
		}

		.nav {
			align-self: flex-start;
			display: flex;
			flex-direction: column;
			height: 85px;
			justify-content: space-between;
			padding-top: 8px !important;

			> a {
				background-color: var(--mint);
			}
		}
	}

	main {
		h2,
		#tv-credits,
		.works_desc,
		p {
			font-size: 16px;
		}

		.section_title {
			top: 172px;
		}

		.fade-box {
			background: linear-gradient(to bottom, var(--mint) 0%, white 100%);
			height: 170px;
			width: 100%;
		}

		#tv-wrapper {
			padding: 15px;
			h2 {
				padding: 10px 10px 0;
			}
			#tv-credits {
				font-size: 16px;
				padding-left: 10px;
			}
		}

		#works {
			.workbox,
			.work_video,
			.work_video video {
				box-sizing: border-box;
				height: auto;
				width: 100%;
			}
			.design_img,
			.design_img img {
				box-sizing: border-box;
				width: 100%;
			}
			.workbox {
				margin: 10px;
			}

			h2 {
				padding-bottom: 10px;
			}

			.works_desc {
				line-height: 1.8;
				p {
					font-size: 16px;
				}
			}
		}
		#profile_pic img {
			width: 200px;
		}
		#resume {
			#resume-dl-links {
				left: 704px;
				margin: auto;
				position: initial;
			}
			#resume-left {
				border-bottom: solid 3px var(--mint);
			}
		}
	}
}
